VITE_SUPABASE_URL=https://vopaebuizdqhnhaukftw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvcGFlYnVpemRxaG5oYXVrZnR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MzE4NTksImV4cCI6MjA5MjEwNzg1OX0.LQ0hre9pFuD7wQVR0ZRrGaMsQATGde8t81Hi8J1rOtM
